.wrapper-actions {
    position: fixed;
    bottom: 0;
    right: 24px;
    margin-bottom: calc(var(--default-layout-play-height));
    transform: translateY(calc(var(--default-layout-play-height) + 50px)) ;
    transition: all 400ms cubic-bezier(0.65, 0, 0.35, 1) 0s;
    z-index: 10;
}


.btn-scrolling {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0px;
    border-radius: 50%;
    background: #fe2c55;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;

}