@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import "scss/variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "scss/layout/container";
@import "scss/layout/sidebar";

:root {
    --primary: #fe2c55;
    --black: #000;
    --text-color: #161823;
    --white: #fff;
    --background-header: #fff;
    --focus: rgba(22, 24, 35, 0.2);
    --background-avatar: rgba(70, 65, 65, 0.5);
    --background-music-play: #444041;
    --background-slider: #533e43;
    --background-aside-play: hsl(0deg 0% 88.19% / 86.8%);
    --font-family: 'Poppins', sans-serif;
    //Default Layout
    --default-layout-header-height: 60px;
    --default-layout-play-height: 65px;
    --default-layout-width: 95%;
    --default-layout-horizontal-spacer: 24px;

    --animation-loading: spin 1s linear infinite;

    //Home
    --home-title-color: #161823;
    --home-card-in: #f2efef;
    --home-card-out: #c5c0c0;

    --home-music-card: #f9f9f9;
    --home-music-order: #4a90e2;
    --home-music-card-hover: #f0f0f0;
    --home-music-title: #222;
    --home-music-content: #666;
    --home-music-more: #999;
    --home-music-line: #eef1f5;

    //Music
    --music-user-header: #aeaaaa;
    --music-music-item: #e7e7e7c5;
    --user-background: #fff;

    //Comment
    --background-comment: #fff;
    --border-comment: 1px solid #ddd;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

[data-theme='dark'] {
    --primary: #fe2c55;
    --black: #fff;
    --text-color: #fff;
    --white: #161823;
    --background-aside-play: #0a0b12e4;
    --background: #161823;
    --background-header: #231b2e;
    --background-avatar: rgba(255, 255, 255, 0.2);
    --focus: #c0b2b2;
    --background-music-play: #130c1c;

    //Home
    --home-title-color: #fe2c55;
    --home-card-in: #4b3146;
    --home-card-out: #58224e;

    --home-music-card: #1e1e2a;
    --home-music-order: #6366f1;
    --home-music-card-hover: #2b2b3c;
    --home-music-title: #fff;
    --home-music-content: #b3b3b3;
    --home-music-more: #999;
    --home-music-line: #374e66;

    //Music
    --music-user-header: #231b2e;
    --music-music-item: #130c1c;
    --user-background: #2f2534;

    //Comment
    --background-comment: #130c1c;
    --border-comment: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    color: var(--text-color);
    overflow-y: overlay;
    min-height: 500px;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}
p {
    margin: 0;
}
img, svg {
    vertical-align: unset;
}
// Fonts emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

// Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
