:global {
    .ant-form-item-required {
        font-size: 2rem !important;
    }
    :where(.css-dev-only-do-not-override-98ntnt).ant-form-item .ant-form-item-control-input-content {
        text-align: start;
    }
    :where(.css-dev-only-do-not-override-98ntnt).ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
        border-color: var(--primary);
        background-color: var(--primary);
    }
    :where(.css-dev-only-do-not-override-98ntnt).ant-upload-wrapper
        .ant-upload-list
        .ant-upload-list-item
        .ant-upload-list-item-name {
        width: 30rem;
    }
}

.form {
    padding: 5rem 10rem;
    background-color: #fff7f7;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), /* Bóng đổ lớn mờ */ 0 6px 6px rgba(0, 0, 0, 0.1);
    min-height: 55rem;
    width: 70%;
}
.form-admin {
    width: 100%;
}
.button {
    height: 3.7rem;
    background-color: var(--primary);
    width: 10rem;
    font-size: 2rem;
    &:hover {
        background-color: #e58181 !important;
    }
}
.title {
    font-size: 3rem !important;
    font-weight: 700;

    text-align: center;
    color: #333;
    margin-bottom: 24px;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 60px;
        height: 4px;
        background: linear-gradient(90deg, #ff7e5f, #d46055);
        margin: 8px auto 0;
    }
}
.upload {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.Btn-area {
    display: flex;
    justify-content: end;
}

.loading {
    animation: var(--animation-loading);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    .avatar-user {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #1890ff; // Đổi màu nếu cần
    }

    .username {
        color: #333;
        font-weight: 500;
    }
}
