
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");


.font {
    font-family: 'Poppins', sans-serif;

}

.admin-notify {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}