
.avatar,.avatar-hide {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.3s;
    top: 0;
    &:hover {
        cursor: pointer;
    }
}

.avatar-hide:hover {
    cursor: auto;
}
.divider {
    position: relative;
    ::before,
    ::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        width: 40%;
        border-top: 1px solid #000000; 
        transform: translateY(-50%);
    }
    ::before {
        left: 0;
    }
    ::after {
        right: 0;
    }
    
}
.menu {
    ::before,
    ::after {
        top: 50%;
        width: 100%;
        border-top: 1px solid #d7d3d3; 
        z-index: 10;
    }

}
.title {
    font-size: 2.4rem;
}