.container {
    position: fixed;
    bottom: calc(var(--default-layout-play-height) + 10px);
    left: 5rem;
    width: 300px;
    background-color: white;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.chat-box {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    height: 400px;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0078d4;
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;

    span {
        font-weight: 100;
    }
}

.close-button {
    background: none;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.chat-content {
    flex: 1;
    padding: 12px;
    max-height: 300px;
    overflow-y: auto;
}

.chat-messages {
    list-style: none;
    padding: 0;
    margin: 0;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.message.self {
    justify-content: flex-end;
}

.system-message {
    font-style: italic;
    width: 100%;
    color: #888;
    text-align: center;
    font-size: 1.3rem;
}
.user-other {
    cursor: pointer;
    position: relative;
}
.avatar {
    color: white;

    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 30px;
    height: 30px;
}
.name-other {
    position: absolute;
    font-size: 1rem;
    font-weight: 100;
    color: #e37878;
}
.message-data {
    max-width: 70%;
    padding: 5px 10px;
    background: #dbb1b1;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    word-wrap: break-word;
}

.message.self .message-data {
    background: #f78282;
}

.send-message {
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}

.input-message {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 8px;
    outline: none;
}

.send-button {
    padding: 8px 16px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
        background-color: #df7868;
    }
}

.connect-message {
    text-align: center;
    font-size: 16px;
    padding: 20px;
    color: #888;
}
