.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 8rem;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 0.5rem;
    margin-left: 3rem;
}
.info-name {
    font-size: 3rem;
}
.area-button {
    margin-top: 1.5rem;
}
.icon-music {
    margin-right: 8px;
}

.area-icon {
    margin-top: 1rem;
}
.icon {
    margin-left: 2rem;
    cursor: pointer;
    color: #ff4d4f;
}

.content {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    min-height: 60rem;
}

.tab {
    margin-bottom: 15px;
    flex: 2;
}
.lyric {
    font-size: 1.5rem;
    padding: 0 2rem;
    color: var(--black);
}
.account {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -10%;
    flex: 0.5;
}
.position {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: var(--user-background);
    border-radius: 1rem;
}
.account-user {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--music-user-header);
    border-radius: 1rem;
    padding: 1rem;
}
.account-img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-right: 15px;
}

.account-name {
    margin-left: 5px;
    text-align: start;
    font-weight: bold;
    color: var(--black);
}
.account-profile {
    display: flex;
    flex: 1;
    justify-content: end;
    margin-right: 2rem;
    cursor: pointer;
}
.icon-profile {
    color: var(--home-title-color);
}
/* Hiệu ứng quay */
@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-center-pause {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate-center {
    animation: rotate-center 5s linear infinite;
    border-radius: 50%;
}

.rotate-center-pause {
    animation: rotate-center-pause 0.5s linear forwards;
    border-radius: 1rem;
}

.relative {
    position: relative;
}

.avatar-music {
    width: 20rem;
    height: 20rem;
    transition: transform 0.3s ease, opacity 0.3s ease, border-radius 0.3s ease;
}

.modal-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Hover hiệu ứng cho modal */
.relative:hover .modal-avatar {
    opacity: 1;
    transform: scale(1.1);
}

.icon-state {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pause-icon {
    font-size: 3rem;
    color: white;
    z-index: 1;
}
.menu-item-detail {
    color: var(--black) ;

}

:global{
    .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: var(--primary);
    }
}
